---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&key=<WEATHER_API_ACCESS_ID>&q=Berlin%20Germany%2013129
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - CA
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/28/2023 19:57:34
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 3b266c6711b8afb5b75d0bb0409a3e5b
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Berlin","region":"Berlin","country":"Germany","lat":52.52,"lon":13.4,"tz_id":"Europe/Berlin","localtime_epoch":1690574254,"localtime":"2023-07-28
        21:57"},"current":{"last_updated_epoch":1690573500,"last_updated":"2023-07-28
        21:45","temp_c":18.0,"temp_f":64.4,"is_day":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/night/302.png","code":1189},"wind_mph":5.6,"wind_kph":9.0,"wind_degree":280,"wind_dir":"W","pressure_mb":1007.0,"pressure_in":29.74,"precip_mm":0.0,"precip_in":0.0,"humidity":94,"cloud":0,"feelslike_c":18.0,"feelslike_f":64.4,"vis_km":10.0,"vis_miles":6.0,"uv":5.0,"gust_mph":8.7,"gust_kph":14.0},"forecast":{"forecastday":[{"date":"2023-07-28","date_epoch":1690502400,"day":{"maxtemp_c":21.5,"maxtemp_f":70.7,"mintemp_c":16.6,"mintemp_f":61.9,"avgtemp_c":18.6,"avgtemp_f":65.5,"maxwind_mph":13.6,"maxwind_kph":22.0,"totalprecip_mm":10.6,"totalprecip_in":0.42,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":89.0,"daily_will_it_rain":1,"daily_chance_of_rain":87,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":4.0},"astro":{"sunrise":"05:20
        AM","sunset":"09:06 PM","moonrise":"05:39 PM","moonset":"12:18 AM","moon_phase":"Waxing
        Gibbous","moon_illumination":"71","is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1690495200,"time":"2023-07-28
        00:00","temp_c":16.6,"temp_f":61.9,"is_day":0,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png","code":1240},"wind_mph":10.1,"wind_kph":16.2,"wind_degree":223,"wind_dir":"SW","pressure_mb":1003.0,"pressure_in":29.61,"precip_mm":1.1,"precip_in":0.04,"humidity":95,"cloud":100,"feelslike_c":16.6,"feelslike_f":61.9,"windchill_c":16.6,"windchill_f":61.9,"heatindex_c":16.6,"heatindex_f":61.9,"dewpoint_c":15.8,"dewpoint_f":60.4,"will_it_rain":0,"chance_of_rain":70,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":15.7,"gust_kph":25.2,"uv":1.0},{"time_epoch":1690498800,"time":"2023-07-28
        01:00","temp_c":16.8,"temp_f":62.2,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":9.8,"wind_kph":15.8,"wind_degree":235,"wind_dir":"SW","pressure_mb":1002.0,"pressure_in":29.6,"precip_mm":0.0,"precip_in":0.0,"humidity":95,"cloud":100,"feelslike_c":16.8,"feelslike_f":62.2,"windchill_c":16.8,"windc[...]
