---
http_interactions:
- request:
    method: get
    uri: https://api.weatherapi.com/v1/forecast.json?days=1&key=<WEATHER_API_ACCESS_ID>&q=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - CA
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '400'
      Cdn-Cachedat:
      - 07/28/2023 19:49:40
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '400'
      Cdn-Requestid:
      - d2a6f037f4f6cb726db1602a3d90a636
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"error":{"code":1003,"message":"Parameter q is missing."}}'
  recorded_at: Fri, 28 Jul 2023 19:49:40 GMT
recorded_with: VCR 6.2.0
